openapi: 3.2.0
info:
  title: ItsaCheckmate Marketplace for Developers Locations API
  version: '2.2'
  description: 'ItsaCheckmate (Checkmate) is restaurant middleware that connects point-of-sale (POS) systems to delivery marketplaces and online ordering channels. The Marketplace for Developers API is an open REST API that lets technology partners build a single integration to read and write menus, orders, and locations across 50+ POS systems and 100+ ordering platforms.

    Authentication uses an OAuth-style flow: a token endpoint issues short-lived, scoped access tokens (24-hour default expiry) and refresh tokens. After obtaining a token a partner must call the Activate Location endpoint before any menu or order operation will succeed. Menu retrieval requires the `menus` scope. Order submission supports both standard and group orders via a `group_order` flag and requires a verified location.

    Endpoints documented here were confirmed from the official Checkmate developer reference (openapi-itsacheckmate.readme.io) and its llms.txt index. The reference also publishes ready-to-use Postman collections and an Update Notice webhook for real-time menu synchronization.'
  contact:
    name: ItsaCheckmate Marketplace for Developers
    url: https://openapi-itsacheckmate.readme.io/reference/getting-started
  license:
    name: ItsaCheckmate Developer Terms
    url: https://www.itsacheckmate.com/solutions/marketplace-for-developers
  x-generated-from: documentation
  x-source-url: https://openapi-itsacheckmate.readme.io/llms.txt
  x-last-validated: '2026-06-02'
servers:
- url: https://sandbox-api.itsacheckmate.com
  description: ItsaCheckmate sandbox API base URL
tags:
- name: Locations
  description: Location activation and location detail retrieval.
paths:
  /api/v2/activate:
    get:
      tags:
      - Locations
      operationId: activateLocation
      summary: ItsaCheckmate Activate Location
      description: Activates the location associated with the access token. This must be the first call made after generating an access token; until the location is activated, none of the Menu or Order operations can be accessed.
      security:
      - bearerAuth: []
      parameters:
      - name: accept
        in: header
        description: Response media type. Defaults to application/json.
        required: false
        schema:
          type: string
          enum:
          - application/json
          - text/plain
          default: application/json
        example: application/json
      responses:
        '200':
          description: Location activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResult'
              examples:
                ActivateLocation200Example:
                  summary: Default activateLocation 200 response
                  x-microcks-default: true
                  value:
                    activated: true
                    location_id: loc_500123
                    message: Location activated successfully
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/get_location:
    get:
      tags:
      - Locations
      operationId: getLocation
      summary: ItsaCheckmate Get Location
      description: Returns the details of the location associated with the access token, including its time zone in TZ database format. The location does not have to be verified first in order to call this operation.
      security:
      - bearerAuth: []
      parameters:
      - name: accept
        in: header
        description: Response media type. Defaults to application/json.
        required: false
        schema:
          type: string
          enum:
          - application/json
          - text/plain
          default: application/json
        example: application/json
      responses:
        '200':
          description: Location detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
              examples:
                GetLocation200Example:
                  summary: Default getLocation 200 response
                  x-microcks-default: true
                  value:
                    id: loc_500123
                    name: Downtown Diner
                    timezone: America/New_York
                    verified: true
                    pos_system: Toast
                    address:
                      street: 123 Main St
                      city: New York
                      state: NY
                      zip: '10001'
                      country: US
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ActivationResult:
      title: ActivationResult
      type: object
      description: Result of activating the token's location.
      properties:
        activated:
          type: boolean
          description: Whether the location was activated.
        location_id:
          type: string
          description: Identifier of the activated location.
        message:
          type: string
          description: Human-readable activation message.
    Address:
      title: Address
      type: object
      description: Postal address of a location.
      properties:
        street:
          type: string
          description: Street address.
        city:
          type: string
          description: City.
        state:
          type: string
          description: State or region code.
        zip:
          type: string
          description: Postal code.
        country:
          type: string
          description: ISO country code.
    Location:
      title: Location
      type: object
      description: A restaurant location served by ItsaCheckmate.
      properties:
        id:
          type: string
          description: Unique location identifier.
        name:
          type: string
          description: Location display name.
        timezone:
          type: string
          description: Location time zone in TZ database format.
        verified:
          type: boolean
          description: Whether the location has been verified.
        pos_system:
          type: string
          description: Name of the connected POS system.
        address:
          $ref: '#/components/schemas/Address'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth-style scoped access token issued by /oauth/token.
